<li class="icons dropdown">
    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
        <span class="activity active"></span>
        <img src="/assets/images/user/1.png" height="40" width="40" alt="">
    </div>
    <div class="drop-down dropdown-profile   dropdown-menu">
        <div class="dropdown-content-body">
            <ul>
                <li>
                    <a href="/actualizar"><i class="icon-user"></i> <span>Perfil</span></a>
                </li>

                <hr class="my-2">
                
                <li><a href="/login/logout"><i class="icon-key"></i> <span>Salir</span></a></li>
            </ul>
        </div>
    </div>
</li>